<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>My Jetty WebApp</display-name>
    
    <session-config>
    	<!-- ถ้าใช้ org.eclipse.jetty.webapp.WebAppContext ต้องกำหนดค่า session ตรงนี้แทนในโค้ด -->
        <session-timeout>60</session-timeout>
    </session-config>
    

</web-app>